* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 80.5%;
}
html,
body {
    height: 100vh;
    background-color: #000000;
    font-family: 'Manrope', sans-serif;

}

body {
    padding-top: 5rem;
    background: url(assets/rocket-coffee.png), url(assets/blur-1.png), url(assets/blur-2.png); 
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, top right;
    background-size: 60%, 60%, 40%;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 918px;
    margin: auto;
}

header ul {
    display: flex;

}

header li a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-inline: 2rem;

}

ul {
    list-style: none;
    color: #fff;

}

header .get-coffee {
    width: 172px;
    height: 37px;
    border: 1px solid #8257E5 ;
    background-color: transparent;
    border-radius: 0.6rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}